<div class='homeheader'>
<%= image_tag ("exercise_home.jpg"), id: 'exercise_pic' %>
<h1 > Welcome To Readiness! </h1>
<h2> Where Users Get <b>Ready</b> to Do!<h2>
<h3> <b>Ready:<b> </br> In a suitable state for an activity, action, or situation; fully prepared.</h3><br>
</div>

