
@import "bootstrap-sprockets";
@import "bootstrap";

.homeheader {
  padding: 50px;
}


#exercise_pic {
  height: 320px;
  object-fit: cover;
  width: 100%;
}
body {
    background-color: #f7ffff;

}

/*
Regimen styling
*/

img {
  border-style: outset;
  
}

.regimens {
  display: block;
  overflow: hidden;
  position: relative;
  padding: 20px 50px;
  width: 350px;
  border-style: groove;
  margin: 20px;
  float: left;
  border: rgb(83, 200, 255);
}

p.regimens {
color: red;
  }
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
