<div class='title'>
<h1><%= @doer.name%> Readiness Profile</h1>
</div>

<i><b><%= need_profile_name(@doer.name) %></b></i> </br>
#appointments will be on the side navigations bar
<label>Our Doer's: </label><br>
<h3>Lookin Good: </br>
<%= image_tag(@doer.user_img, size: "200")%>

<h3><label>Something About This Doer: </label></h3><br>

<p><%= @doer.bio %></p> <br>


<p> We'll Get to Em: </p>
