<div class='title'>
<h1><%= @expert.name%> Readiness Profile</h1>
</div>

#appointments will be on the side navigations bar
<label>Our expert's: </label><br>
<h3>Lookin Good: </br>
<%= image_tag(@expert.user_img, size: "200")%>

<h3><label>Something About This Expert: </label></h3><br>

<p><%= @expert.bio %></p> <br>


<p> We'll Get to Em: </p>
