<div class='homeheader'>
<h1 > Welcome To Readiness! </h1>
<h2> Where Users Get <b>Ready</b> to Do!<h2>
<p> <b>Ready:<b> </br> <i>In a suitable state for an activity, action, or situation; fully prepared.</i>
<br>
</div>

